// nav tag copied from: https://www.w3schools.com/tags/tag_nav.asp
nav#navigation
  a(href='/myContacts') Contacts
  a(href='/myWidgets') Widgets
  a(href='/myAboutMe') About Me
  a(href='/contactMe') Contact Me
  a(href='/contactLog') Contact Log
  a(href='/login' id='nav_login') #{username}